<section class="container">
	<h3>会員情報編集</h3>
	<%= form_with model:@customer, url: update_information_path do |f| %>
		<table class="edit-customer">
			<tbody>
				<tr>
					<td class="edit"><%= "ユーザーネーム" %></td>
					<td class="edit"><%= f.text_field :name, :placeholder =>"#{@customer.name}" %></td>
				</tr>
				<tr>
					<td class="edit"><%= "メールアドレス" %></td>
					<td class="edit"><%= f.email_field :email, autocomplete: "email", :placeholder =>"#{@customer.email}" %></td>
				</tr>
				<tr>
					<td><%= f.submit "変更を保存", class: "edit-btn" %></td>
				</tr>
			</tbody>
		</table>
		<div class="edit-customer">
			<div class="edit-pass-btn">
				<%= link_to "パスワード変更", edit_customer_registration_path, class: "btn" %>
			</div>
			<div class="customer-delete">
				<%= link_to "退会する", confirm_unsubscribe_path, class: "btn" %>
			</div>
		</div>
	<% end %>
	<div class="back-btn">
    <%= link_to "戻る", customer_path(@customer), class: "btn" %>
  </div>
</section>