<section class="container">
	<h3>マイページ</h3>
	<h4>登録情報</h4>
	<table class="customer">
		<tbody>
			<tr>
				<td class="customer-information">ユーザーネーム:</td>
				<td class="customer-information"><%= @customer.name %></td>
			</tr>
			<tr>
				<td class="customer-information">メールアドレス:</td>
				<td class="customer-information"><%= @customer.email %></td>
			</tr>
		</tbody>
	</table>
	<div class="btn-mypage">
		<%=link_to"いいね一覧",favorites_customer_path(@customer),class: "btn" %>
		<%=link_to"レビュー一覧",reviews_customer_path(@customer),class: "btn" %>
		<%= link_to "編集する", edit_information_path, class: "btn" %>
	</div>
</section>