<% provide(:title, 'マップから探す') %>
<div class="container-fluid">
  <div id="map-search-wrapper" class="row content-wrapper">
    <div class="col-xs-12">
      <h1>マップから探す</h1>
      <input id="address" type="textbox" placeholder='位置情報、住所、地名等' >
      <input type="button" value="マップ位置変更" onclick="getAddress()">
      <%#= render 'search', q: @q, url: root_path %>
      <div id="search-map" style="height: 500px !important; width: 600px !important;"></div>
    </div>
    <div class=" col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <%= form_with scope: :lat_lng, url: map_search_path, method: :get do |f| %>
        <%= f.number_field :latitude, id: 'lat', step: '0.0000001', value: @latitude, type: 'hidden' %>
        <%= f.number_field :longitude, id: 'lng', step: '0.0000001', value: @longitude, type: 'hidden' %>
        <%= f.submit "周辺の飲食店を探す", class: "btn btn-map-search" %>
      <% end %>
    </div>
    <div class="col-xs-12">
      <% @genres.each do |genre| %>
        <%= link_to genre.name, map_search_path(genre_id: genre.id),'data-turbolinks': false, class: "genre_search" %>
      <% end %>
    </div>
    <% if @restaurants.present? %>
      <% if @restaurants.first %>
      <div class="restaurants col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <% @restaurants.each do |restaurant| %>
          <div class="row">
            <%= link_to restaurant_path(restaurant),'data-turbolinks': false do %>
            <%#= link_to "", @restaurants, class: "stretched-link", data: { 'turbolinks': false }  %>
              <!--<div id="result-label-<%#= "#{restaurant_counter+1}" %>" class="col-xs-1"></div>-->
            <div class="restaurant-name col-xs-12">
              <%= restaurant.name %>
            </div>
            <div class="col-xs-12 col-md-8">
              <%= image_tag restaurant.get_image(200,200) %>
            </div>
            <div class="col-xs-12 col-md-4">
              <dl>
                <dt>住所</dt>
                <dd><%= restaurant.address %></dd>
                <dt>営業時間</dt>
                <dd><%= restaurant.business_time %></dd>
                <dt>定休日</dt>
                <dd><%#= @restaurant.closed %></dd>
              </dl>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <% else %>
        <h3>対応する飲食店はありませんでした。</h3>
      <% end %>
    <% else %>
      <div class="not-found col-xs-12">
        <h4>条件に合う飲食店がありません</h4>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag "search_map.js" %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initSearchMap" async defer></script>


