<div class="container">
    <h3>マップから探す</h3>
    <div class="search-content">
      <%= form_with scope: :lat_lng, url: map_search_path, method: :get do |f| %>
        <%= f.number_field :latitude, id: 'lat', step: '0.0000001', value: @latitude, type: 'hidden' %>
        <%= f.number_field :longitude, id: 'lng', step: '0.0000001', value: @longitude, type: 'hidden' %>
        <%= f.submit "周辺の飲食店を探す", class: "map-search-btn" %>
      <% end %>
    </div>
    <div class="search-content">
      <% @genres.each do |genre| %>
        <%= link_to genre.name,map_search_path(genre_id: genre.id),'data-turbolinks': false, class: "genre_search" %>
      <% end %>
    </div>
    <% if @restaurants.present? %>
      <% if @restaurants.first %>
      <% else %>
        <h4>対応する飲食店はありませんでした。</h4>
      <% end %>
    <% else %>
      <h4>条件に合う飲食店がありません</h4>
    <% end %>
    <% if params[:genre_id] %>
			<h6>★<%= @genre.name %>で絞込み中</h6>
		<% end %>
    <div class="map" id="search-map" style="height: 500px; width: 100%;"></div>
    <div class="search-content">
      <input id="address" type="textbox" placeholder='  位置情報、住所、地名等  '>
      <input class="map-btn" type="button" value="マップ位置変更" onclick="getAddress()">
    </div>
    <h6>▼ 何を食べるか決まらない場合はクリック ▼</h6>
      <% @random.each do |genre| %>
        <div class="random-btn">
          <%= link_to "PickOut", map_search_path(genre_id: genre.id),'data-turbolinks': false, class: "genre_search btn" %>
        </div>
      <% end %>
</div>
<%= javascript_include_tag "search_map.js" %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initSearchMap" async defer></script>


