<section class="container">
	<h3><%= @customer.name %> さんの会員情報編集</h3>
	<%= form_with model:@customer, url: admin_customer_path(@customer) do |f| %>
		<table class="admin-page">
			<tbody>
				<tr>
					<td>ユーザーネーム</td>
					<td><%= f.text_field :name, :placeholder =>"#{@customer.name}" %></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><%= f.email_field :email, autocomplete: "email", :placeholder =>"#{@customer.email}" %></td>
				</tr>
				<tr>
					<td>会員ステータス</td>
					<td><%= f.radio_button :is_deleted, true %><%= f.label :is_deleted, "退会済み", value: true, class: "text-active" %></td>
					<td><%= f.radio_button :is_deleted, false %><%= f.label :is_deleted, "有効", value: false, class: "text-invalid" %></td>
				</tr>
				<tr>
					<td><%= f.submit "更新", class: "admin-btn" %></td>
				</tr>
			</tbody>
		</table>
	<% end %>
</section>