<section class="container">
	<h3><%= @customer.name %>さんのページ</h3>
	<table class="admin-page">
		<tbody>
			<tr>
				<td>会員ID : </td>
				<td><%= @customer.id %></td>
			</tr>
			<tr>
				<td>ユーザーネーム : </td>
				<td>(姓) <%= @customer.name %></td>
			</tr>
			<tr>
				<td>メールアドレス : </td>
				<td><%= @customer.email %></td>
			</tr>
			<tr>
			<tr>
				<td>会員ステータス : </td>
				<td>
					<% if @customer.is_deleted? %>
						<span class="text-active">退会済み	</span>
					<% else %>
						<span class="text-invalid">有効</span>
					<% end %>
				</td>
			</tr>
			<tr>
				<td class="admin-btn"><%= link_to "編集", edit_admin_customer_path(@customer), class: "btn" %></td>
			</tr>
		</tbody>
	</table>

</section>