<div class="container">
  <h3>レビュー一覧</h3>
  <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">投稿日時</th>
      <th scope="col">投稿者</th>
      <th scope="col">店名</th>
      <th scope="col">表示ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
    <tr>
      <td>
        <%= link_to edit_admin_review_path(review.id) do %>
         <%= review.created_at.strftime('%Y/%m/%d %H:%M') %>
        <% end %>
      </td>
      <td>
        <%= review.customer.name %>
      </td>
      <td>
        <%= review.restaurant.name %>
      </td>
      <td>
        <%= review.is_active %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>