<div class="container">
  <h3>店舗一覧</h3>
  <div class="search-content">
    <%= render 'search', q: @q, url: restaurants_path %>
  </div>
    <div class="search-content">
      <% @genres.each do |genre| %>
        <%= link_to genre.name, restaurants_path(genre_id: genre.id) %>
      <% end %>
    </div>
    <div class="restaurants">
      <% if @restaurants.first %>
      <% if @restaurants.present? %>
        <% @restaurants.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant),'data-turbolinks': false do %>
          <div class="restaurant-content">
            <div class="restaurant">
              <%= restaurant.name %>
            </div>
            <div class="restaurant">
            </div>
            <div class="restaurant">
              <%= image_tag restaurant.get_image(200,200), id: "img_prev", class: "admin_item_image" %>
            </div>
            <div class="restaurant">
              <dl>
                <dt>住所</dt>
                <dd><%= restaurant.address %></dd>
                <dt>営業時間</dt>
                <dd><%= restaurant.business_time %></dd>
              </dl>
            </div>
          </div>
        <% end %>
        <% end %>
        </div>
      <% else %>
        <h4>条件に合う飲食店がありません</h4>
      <% end %>
      <% else %>
        <h4>対応する飲食店はありませんでした。</h4>
      <% end %>
    </div>
</div>