<section class="inner">
	<h2 class="section-ttl">店舗詳細</h2>
	<div class="flex">
		<div>
			<div class="image_field">
				<%= image_tag @restaurant.get_image(200,200), id: "img_prev", class: "admin_item_image" %>
			</div>
		</div>
		<div id="review_avg" data-score="<%= @review_avg %>"></div>
		<% if @restaurant.favorited_by?(current_customer) %>
		<div>
			<%= link_to restaurant_favorites_path(@restaurant),method: :delete do %>
				❤︎
			<% end %>
		</div>
		<% else %>
		<div>
			<%= link_to restaurant_favorites_path(@restaurant),method: :post do %>
				♡
			<% end %>
		</div>
		<% end %>
		<table class="admin_restaurant_info">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>店舗名</td>
					<td><%= @restaurant.name %></td>
				</tr>
				<tr>
					<td>ジャンル</td>
					<td><%= link_to @restaurant.genre.name, restaurants_path(genre_id: @restaurant.genre_id) %></td>
				</tr>
				<tr>
					<td>営業時間</td>
					<td><%= @restaurant.business_time %></td>
				</tr>
				<tr>
					<td>平均予算</td>
					<td><%= @restaurant.price%>円〜</td>
				</tr>
				<tr>
					<td>電話</td>
					<td><%= @restaurant.telephone_number %></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><%= @restaurant.address %></td>
				</tr>
			</tbody>
		</table>
		<div>
			<div class="">レビュー詳細</div>
			<%# if @restaurant.review.is_active == true %>
			<% @restaurant.reviews.each do |review| %>
			<%= review.customer.name %>
			<div id="star-rate<%= review.id %>"></div>
			<script>
        $('#star-rate<%= review.id %>').empty();
        $('#star-rate<%= review.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          half      : false,
          readOnly: true,
          score: <%= review.rate %>,
        });
      </script>
			<%= review.created_at.strftime('%Y/%m/%d') %><%= review.comment %>
			<%if review.customer == current_customer %>
				<%= link_to "delete",restaurant_review_path(review.restaurant,review),method: :delete %>
			<% end %>
			<% end %>
			<%# end %>
		</div>
		<div>
			<%= form_with model: [@restaurant, @review] do |f| %>
      	<div id="evaluate_stars"></div>
      	<%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      	<%= f.submit "送信する" %>
      <% end %>
		</div>
	</div>

	<div class="map">
	  <div id="map" style="width:500px; height:300px">
	  </div>
	</div>

  <script>
    function initMap(){
    	let mapPosition = {lat: <%= @restaurant.latitude || 0 %> , lng: <%= @restaurant.longitude || 0 %> };
      let map = new google.maps.Map(document.getElementById('map'), {
      	// <%# if @restaurant.latitude && @restaurant.longitude %>
      	// center: {lat: <%#= @restaurant.latitude %>, lng: <%#= @restaurant.longitude %> },
      	// <%# end %>
      	zoom: 15,
      	center: mapPosition
      });

      let transitLayer = new google.maps.TransitLayer();
    	transitLayer.setMap(map);

    	let contentString = '<%= @restaurant.name %>';
 			let infowindow = new google.maps.InfoWindow({
      	content: contentString
    	});

      let marker = new google.maps.Marker({
    	  position: mapPosition,
      	map: map,
      	title: contentString
    	});

	    marker.addListener('click', function(){
  	    infowindow.open(map, marker);
    	});
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>


</section>

<script>
  $('#review_avg').empty();
  $('#review_avg').raty({
    readOnly: true,
    starOn: '<%= asset_path('star-on.png') %>',
    starOff: '<%= asset_path('star-off.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>

<script>
  $('#evaluate_stars').empty(); // Turbolinksで星が増殖する現象を解消
  $('#evaluate_stars').raty({
    starOff: '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
      // 登録するモデル名とカラム名を記述
      //  送信値として採用される
    scoreName: 'review[rate]',
    half: false,
  });
</script>


