<section class="container">
	<h3>店舗詳細</h3>
	<div class="restaurant-show border-top">
		<%= image_tag @restaurant.get_image(350,350) %>
	</div>
	<div id="review_avg" data-score="<%= @review_avg %>" class="restaurant-show"></div>
	<% if @restaurant.favorited_by?(current_customer) %>
	<div class="restaurant-show">
		<%= link_to restaurant_favorites_path(@restaurant),method: :delete do %>
			<i class="fas fa-heart"></i>
		<% end %>
	</div>
	<% else %>
	<div class="restaurant-show">
		<%= link_to restaurant_favorites_path(@restaurant),method: :post do %>
			<i class="far fa-heart"></i>
		<% end %>
	</div>
	<% end %>
	<div class="restaurant-show">
		<dl>
			<dd>店舗名 : <%= @restaurant.name %></dd>
			<dd>ジャンル : <%= link_to @restaurant.genre.name, restaurants_path(genre_id: @restaurant.genre_id) %></dd>
			<dd>営業時間 : <%= @restaurant.business_time %></dd>
			<dd>平均予算 : <%= @restaurant.price%>円〜</dd>
			<dd>電話 : <%= @restaurant.telephone_number %></dd>
			<dd>住所 : <%= @restaurant.address %></dd>
		</dl>
	</div>
	<div class="map">
	  <div id="map" style="width:400px; height:300px"></div>
	</div>
	<h4 class="border-top">レビュー記入</h4>
		<%= form_with model: [@restaurant, @review] do |f| %>
    	<div id="evaluate_stars" class="restaurant-show"></div>
	<div class="restaurant-show">
		<%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" ,:size=>"35x5"%>
	</div>
    <%= f.submit "送信する",class: "submitbtn" %>
    <% end %>
	</div>


	<h4 class="border-top">レビュー詳細</h4>
  <table class="table">
    <tbody>
      <% @restaurant.reviews.each do |review|%>
      <% if review.is_active == true %>
      <tr>
        <td>
          <div class="review">
           <%= review.created_at.strftime('%Y/%m/%d %H:%M') %>
          </div>
        </td>
        <td>
          <div class="review">
           <%= review.customer.name %>
          </div>
        </td>
        <td>
          <div id="star-rate<%= review.id %>" class="review"></div>
          <script>
            $('#star-rate<%= review.id %>').empty();
            $('#star-rate<%= review.id%>').raty({
              size      : 30,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: <%= review.rate %>,
            });
          </script>
        </td>
        <td>
          <div class="review">
          <%= review.comment %>
          </div>
        </td>
        <td class="review-btn">
        	<%if review.customer == current_customer %>
						<%= link_to "削除",restaurant_review_path(review.restaurant,review),method: :patch, data: {confirm: "削除しますか？"},class: "btn" %>
					<% end %>
        </td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>



  <script>
    function initMap(){
    	let mapPosition = {lat: <%= @restaurant.latitude || 0 %> , lng: <%= @restaurant.longitude || 0 %> };
      let map = new google.maps.Map(document.getElementById('map'), {
      	// <%# if @restaurant.latitude && @restaurant.longitude %>
      	// center: {lat: <%#= @restaurant.latitude %>, lng: <%#= @restaurant.longitude %> },
      	// <%# end %>
      	zoom: 15,
      	center: mapPosition
      });

      let transitLayer = new google.maps.TransitLayer();
    	transitLayer.setMap(map);

    	let contentString = '<%= @restaurant.name %>';
 			let infowindow = new google.maps.InfoWindow({
      	content: contentString
    	});

      let marker = new google.maps.Marker({
    	  position: mapPosition,
      	map: map,
      	title: contentString
    	});

	    marker.addListener('click', function(){
  	    infowindow.open(map, marker);
    	});
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>

</section>

<script>
  $('#review_avg').empty();
  $('#review_avg').raty({
    readOnly: true,
    starOn: '<%= asset_path('star-on.png') %>',
    starOff: '<%= asset_path('star-off.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>

<script>
  $('#evaluate_stars').empty(); // Turbolinksで星が増殖する現象を解消
  $('#evaluate_stars').raty({
    starOff: '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
      // 登録するモデル名とカラム名を記述
      //  送信値として採用される
    scoreName: 'review[rate]',
    half: false,
  });
</script>


