<section class="container">
	<h3>店舗詳細</h3>
	<div>
		<div class="admin-page">
			<%= image_tag @restaurant.get_image(200,200), id: "img_prev", class: "admin_item_image" %>
		</div>
	</div>
	<div class="restaurant-show">
		<dl>
			<dd>店舗名 : <%= @restaurant.name %></dd>
			<dd>ジャンル : <%= link_to @restaurant.genre.name, restaurants_path(genre_id: @restaurant.genre_id) %></dd>
			<dd>営業時間 : <%= @restaurant.business_time %></dd>
			<dd>平均予算 : <%= @restaurant.price%>円〜</dd>
			<dd>電話 : <%= @restaurant.telephone_number %></dd>
			<dd>住所 : <%= @restaurant.address %></dd>
			<dd>
				表示ステータス : 
					<% if @restaurant.is_active? %>
						<span class="text-active">表示中</span>
					<% else %>
						<span class="text-invalid">表示停止中</span>
					<% end %>
			</dd>
			<dd>マップ : </dd>
			<div id="map" style="width:300px; height:200px"></div>
		</dl>
	</div>
	<div class="admin-btn">
		<%= link_to "編集する", edit_admin_restaurant_path(@restaurant), class: "btn" %>
	</div>
	<!--地図表示-->
	<script>
    function initMap(){
    	let mapPosition = {lat: <%= @restaurant.latitude || 0 %> , lng: <%= @restaurant.longitude || 0 %> };
      let map = new google.maps.Map(document.getElementById('map'), {
      	zoom: 15,
      	center: mapPosition
      });

      let transitLayer = new google.maps.TransitLayer();
    	transitLayer.setMap(map);

    	let contentString = '<%= @restaurant.name %>';
 			let infowindow = new google.maps.InfoWindow({
      	content: contentString
    	});

      let marker = new google.maps.Marker({
    	  position: mapPosition,
      	map: map,
      	title: contentString
    	});

	    marker.addListener('click', function(){
  	    infowindow.open(map, marker);
    	});
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>

</section>