<section class="container">
	<h3>店舗詳細</h3>
	<div>
		<div class="admin-page">
			<%= image_tag @restaurant.get_image(200,200), id: "img_prev", class: "admin_item_image" %>
		</div>
	</div>

	<table class="admin-page">
		<tbody>
			<tr>
				<td>店舗名</td>
				<td><%= @restaurant.name %></td>
			</tr>
			<tr>
				<td>ジャンル</td>
				<td><%= link_to @restaurant.genre.name, admin_restaurants_path(genre_id: @restaurant.genre_id), class: "underline" %></td>
			</tr>
			<tr>
				<td>営業時間</td>
				<td><%= @restaurant.business_time %></td>
			</tr>
			<tr>
				<td>平均予算</td>
				<td><%= @restaurant.price%>円〜</td>
			</tr>
			<tr>
				<td>電話</td>
				<td><%= @restaurant.telephone_number %></td>
			</tr>
			<tr>
				<td>住所</td>
				<td><%= @restaurant.address %></td>
			</tr>
			<tr>
				<td>表示ステータス</td>
				<td>
					<% if @restaurant.is_active? %>
						<span class="text-active">表示中</span>
					<% else %>
						<span class="text-invalid">表示停止中</span>
					<% end %>
				</td>
			</tr>
			<tr>
				<td>マップ</td>
				<td>
					<div id="map" style="width:400px; height:300px"></div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="admin-btn">
		<%= link_to "編集する", edit_admin_restaurant_path(@restaurant), class: "btn" %>
	</div>
	<!--地図表示-->
	<script>
    function initMap(){
    	let mapPosition = {lat: <%= @restaurant.latitude || 0 %> , lng: <%= @restaurant.longitude || 0 %> };
      let map = new google.maps.Map(document.getElementById('map'), {
      	zoom: 15,
      	center: mapPosition
      });

      let transitLayer = new google.maps.TransitLayer();
    	transitLayer.setMap(map);

    	let contentString = '<%= @restaurant.name %>';
 			let infowindow = new google.maps.InfoWindow({
      	content: contentString
    	});

      let marker = new google.maps.Marker({
    	  position: mapPosition,
      	map: map,
      	title: contentString
    	});

	    marker.addListener('click', function(){
  	    infowindow.open(map, marker);
    	});
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>

</section>