<section class="container">
  <h3>パスワード編集</h3>
  <div class="edit-pass">
  <%= form_with model: @customer, url: customer_registration_path, id: 'edit_user', class: 'edit_user', local: true do |f| %>
    <%= render "layouts/error_messages", resource: @customer %>

    <div class="field mb2 py-1">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field mb2 py-1">
      <%= f.label :current_password, "Current password" %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="field mb2 py-1">
      <%= f.label :password, "New password(#{@minimum_password_length}文字以上)" %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field mb2 py-1">
      <%= f.label :password_confirmation, "New password(確認用)" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>


    <div class="py-3">
      <%= f.submit "パスワード更新", class: "edit-btn" %>
    </div>
  <% end %>
  </div>
  <div class="back-btn">
    <%= link_to "戻る", edit_information_path, class: "btn" %>
  </div>
</section>