<section class="container">
  <h3>Log in</h3>
  <div class="login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" ,class: "login-btn" %>
    </div>
  <% end %>
  </div>
  <h6>会員登録がお済みでない方</h6>
  <div class="login">
    <%= link_to "こちら",new_customer_registration_path %>から新規登録を行なってください
  </div>
</section>